

<ion-content scrollEvents="true" [appHideHeader]="toolbar">
  <ion-header [translucent]="true">
    <ion-toolbar #toolbar >
      <!-- <ion-title> -->
       <div class="wf mx-auto" style="margin-block: 1rem;">
         <div class="btn-group  bg-light">
           <button type="button" class="">Regular</button>
           <button type="button" class=" ">prime</button>
         </div>
       </div>
      <!-- </ion-title> -->
    </ion-toolbar>
  </ion-header>
  <div style="width: 100%; height: 44px;"></div>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
</ion-content>