<ion-header [translucent]="true">
  <ion-toolbar #toolbar >
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" [appHideHeader]="toolbar" [fullscreen]="true">
  <div style="width: 100%; height: 44px;"></div>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
</ion-content>
<!-- <ion-content [fullscreen]="true"    [scrollEvents]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
       content area
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>
  <ion-card>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quod facilis. Doloremque quo voluptatibus voluptas, possimus corrupti culpa, dignissimos autem reprehenderit inventore hic, deserunt optio? Quas facilis minima aliquid inventore.
  </ion-card>

</ion-content> -->